/*REGRAS*/
@charset "UTF-8";

/*SELETORES*/
body{
  background-image: url(imagens/pattern001.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  /*
  repeat
  repeat-x 
  repeat-y
   */
}